@charset "utf-8";


body, html {
	margin : 0; /* 余白の削除 */
	padding : 0; /* 余白の削除 */
	width : 100%;
	height : 100%;
}

body {
	background-image:url("../images/hanabiD.jpg");
	background-size:cover;
	background-attachment:fixed;
}

.contents h1{
	text-align:center;
	color:black;
}

.contents h2{
	text-align:center;
	color:black;
}

.contents h3{
	text-align:center;
	color:black;
}

.vertical-list-table{
	display:flex;
	justify-content:center;
}

.contents {
	margin:50px auto 0;
	background-color:rgba(255, 255, 255, 0.5);
	border-radius:50px;
	width:60%;
	margin-bottom:60px;
	padding:10px 20px;
	text-align: right;
	min-width:600px;

}

.error-message {
	color : red;
	text-align:left;
}

.image {
	display: inline-block;
}

.image input{
	width:140px;
	height:30px;
	border-radius:7px;
}

.image:hover{
	filter: opacity(50%) drop-shadow(0px 0px 5px #fff);
}

.image_confirm img{
	width:70px;
	height:30px;
	border-radius:7px;
}

.image, .image_confirm {
	margin-top: 15px;
	text-align:center;
	margin:20px;
}

.left{
	display:inline-block;
}
.left:hover{
	filter: opacity(50%) drop-shadow(0px 0px 5px #fff);
}

.right{
	display:inline-block;
}

.right:hover{
	filter: opacity(50%) drop-shadow(0px 0px 5px #fff);
}

.form{
	text-align:left;
}

.confirm{
	text-align:center;
}

.kakunin{
	text-align:center;
}

.center {
	text-align: center;
}

.back {
	width:70px;
	height:30px;
	border-radius:7px;
	filter: hue-rotate(90deg);
}

.back:hover{
	filter: opacity(50%) drop-shadow(0px 0px 5px #fff) hue-rotate(90deg);
}

.image + .image {
	margin-left: 20px;
}

#reset {
	filter: hue-rotate(90deg);
}