header ul{
    float: left;
    line-height: 40px;
    width: 100%;
    height: 60px;
    background-color: black;
}

header ul li{
    float: left;
    list-style: none;
    padding-right:20px;
    color: white;
    font-size: 18px;
    line-height: 3;
}

.midashi{
    border-left:5px solid black;
    border-bottom: 2px solid black;
    position: relative;    
    top: 0px;
    
}
div today{
    position:relative;
    top: 25px;
}
div topic1{
    position: relative;
    top:30px;
}

.glay1{
    width: 1300px;
    height: 300px;
    background-color: gray;
    text-align: center;
}
.glay1 img{
    display:block;
    float: left;
    width: 300px; 
}

.glay1 .glay1_pic2{
    display:inline-block;
}

.glay2{
    width:1300px;
    height:300px;
    background-color: gray;
    text-align: center;
}

.glay2 img{
   display:block;
    float: left;
    width: 300px;
}
        
.glay2 .glay2_pic2{
    display:inline-block;
}


.side1{
    margin-top: 0px;
    margin-left: 950px;
    font-size:20px;
    
}
.side1 ul li{
    list-style: none;   
}
.side1 h2{
    border-bottom: 2px dotted black;
}


footer{
    clear: left;
    width: 100%;
    height: 60px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 60px;
}